.root {
  max-width: 1024px;
  margin: 0 auto;
}

input, select {
  height: 25px;
}

input[type='checkbox'] {
  height: 25px;
  width: 25px;
  position: relative;
  margin: 0 10px 0 20px;
  top: 7px;
}

